/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #4C5050;
}

/* NAVIGATION BAR */

header {
    background-color: #1F1F1F;
}

.logo_name {
    color: #E5B53A;
    padding-left: 30px;
    padding-top: 20px;
}

.logo_description {
    color: #FFFFFF;
    size: 30px;
    padding-left: 100px;
    float: left;
}

.navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    float: right;
}

.nav_list {
    size: 25px;
    display: inline;
    float: right;
    padding: 8px;
    padding-right: 25px;
    color: #FFFFFF;
    text-align: center;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ------------------------------------------------------- */

.box {
    background-color: #fff;
    border: 1px round #ccc;
    padding: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 700px;
    border-radius: 20px;
    margin-top: 100px;
}

p {
    margin-bottom: 20px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

.label-input {
    display: inline-block;
    vertical-align: middle;
}

label {
    margin-left: 30px;
}

.input-field {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

form input[type="text"], form input[type="number"], form input[type="file"] {
    padding: 5px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    background-color: #afabab;
    margin-top: 10px;
    width: 300px;
}
/* containter */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    background-color: rgb(196, 16, 16);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px;
    width: 200px;
    height: 50px;
    font-size: 18px;
}

/* Image Preview */
.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    /* margin-top: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #cccccc;
    width: 300px;
    height: 200px;
    z-index: 15;
    margin: 0% 10% 0 25%;
}

.image-preview__image {
    display: none;
    width: 30%;
}

/* ------------------------------------------------------- */

footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    position: relative;
    height: 100px;
    margin-top: 0px;
    clear: both;
}

hr {
    border-color: #1F1F1F;
    border-width: 1.5px;
}
/* menu Display */
.menu-section {
    text-align: center;
    padding: 20px;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding:30px
}
.menu-grid {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll; /* Vertical scrollbar */
    max-height: 500px; /* Adjust the height as needed */
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
}
.menu-grid::-webkit-scrollbar {
    width: 12px; /* Width of vertical scrollbar */
}
.menu-grid::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 10px;
}
.menu-grid::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar hover color */
}
.food-item {
    text-align: center;
    width: 200px;
    margin: auto;
    position: relative;
}
.food-item img {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 15px;
}
.food-item button {
    position: absolute;
    top: 68%;
    left: 85%;
    transform: translate(-50%, -50%);
    padding: 4px 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ebebeb88;
    border-radius: 60%;
}
.food-item .threeDotsButton{
    position: absolute;
    top: 68%;
    left: 85%;
    transform: translate(-50%, -50%);
    padding: 7px 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ebebeb00;
    border-radius: 60%;

}
.food-item .food-details {
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
    color: #D7CFCF;
}
.food-price {
    margin-top: 0px;
    font-size: 15px;
    text-align: left;
    color: #D7CFCF;
}
.food-name{
    font-weight: bold;
}
.food-item.selected img {
    opacity: 0.5;
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.custom-button {
    background-color: rgb(196, 16, 16);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 200px;
    height: 50px;
    font-size: 18px;
}
