/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #4C5050;
}

/* NAVIGATION BAR */

header {
    background-color: #1F1F1F;
}

.logo_name {
    color: #E5B53A;
    
    padding-left: 30px;
    padding-top: 20px;
}

.logoname2 {
    color: #E5B53A;
    display: inline;
    font-size: 60px;
    padding-left: 20px;
    text-align: center;
}

.logo_description {
    color: #FFFFFF;
    size: 30px;
    padding-left: 100px;
    float: left;
}


.navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    float: right;
}

.nav_list {
    size: 25px;
    display: inline;
    float: right;
    padding: 8px;
    padding-right: 25px;
    color: #FFFFFF;
    text-align: center;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;  
}

/* ------------------------------------------------------- */

/* MAIN MENU & SEARCH BAR */

.box {
  width: 800px;
  height: 530px;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 40px;
  background-color: white;
}

.bg-image {
  width: 100%;
  filter: blur(8px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    
  }

.optionBox{
    margin-left: 350px;
    border: 1px solid #ddd; /* Adds a 1px solid border in light gray */
    padding: 30px; /* Creates a 10px padding inside each box */
    width: 400px;
    height: 500px;
    border-radius: 30px;
    background-color: white;
    margin-top: 20px;
    display: inline-block;

}

.button{
    width:150px;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    background-color: lightblue;
    border-radius: 10px;
    border: 1px solid grey;
    margin-left: 70px;
    margin-top: 30px;
}

.price{
    color: red;
    font-size: 40px;
}

.membershipCombo{
  color: black;
  font-size: 20px;
}

h3, p{
    color: black
}

.tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}
.tab button {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    font-size: 16px;
}

.tab button.active {
    background-color: #ddd;
}

p{
    text-align: center;
    font-weight: normal;
}

.plans{
    flex: 1;
    padding: 10px;
    margin: 40px 10px 0px 10px;
    border: none;
    margin-left: 30px;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 10px;
}
/* ------------------------------------------------------- */


footer {
    background-color: #1F1F1F;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

hr {
    border-color: #1F1F1F;  /* Change the color */
    border-width: 1.5px;  /* Change the thickness */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 710px;
    margin: auto;
  }


