/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #4C5050;
}
.main_description {
    font-size: 10px;
    color: #736868;
    display: flex;
    justify-content: center;
}

/* NAVIGATION BAR */

header {
    background-color: #1F1F1F;
}

.logo_name {
    color: #E5B53A;
    
    padding-left: 30px;
    padding-top: 20px;
}

.logoname2 {
    color: #E5B53A;
    display: inline;
    font-size: 50px;
    padding-left: 20px;
    text-align: center;
}
.logoname3 {
    color: #b04f05;
    display: inline;
    font-size: 35px;
    padding-left: 90px;
    text-align: center;
    padding-bottom: 20px;
}
.logo_description {
    color: #FFFFFF;
    size: 30px;
    padding-left: 100px;
    float: left;
}


.navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    float: right;
}

.nav_list {
    size: 25px;
    display: inline;
    float: right;
    padding: 8px;
    padding-right: 25px;
    color: #FFFFFF;
    text-align: center;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;  
}

/* ------------------------------------------------------- */

/* MAIN MENU & SEARCH BAR */

.main_logo {
    display: flex;
    justify-content: center;
}

#logo_img {
    display: inline-block;
}

.main_description {
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}


/* ------------------------------------------------------- */
.box {
    background-color: #4C5050;
    border: none;
    margin: 10px auto;
    max-width: 600px;
    border-radius: 20px;
    padding-bottom: 5px;
    color: #666;
    padding-top: 30px;
}
form {
    display: flex;
    flex-direction: column;
}

form input[type="text"], form input[type="password"] {
    padding: 5px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: 10px;
}

.button-container {
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.button-container button {
    background-color: rgb(196, 16, 16); /* Đặt màu đỏ cho nút */
    color: white; /* Đặt màu chữ trắng */
    border: none; /* Loại bỏ đường viền */
    border-radius: 20px; /* Đặt viền tròn */
    padding: 15px 40px; /* Điều chỉnh kích thước của button */
    margin: 20px; /* Điều chỉnh khoảng cách giữa các button */
}

.username {
    display: inline;
}

.password_input {
    justify-content: inline;
}

label {
    padding-left: 80px;
    padding-right: 60px
}

input {
    width: 300px;
    padding-left: 30px;
}




/* ------------------------------------------------------- */



hr {
    border-color: #1F1F1F;  /* Change the color */
    border-width: 1.5px;  /* Change the thickness */
  }