/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #4C5050;
}

/* NAVIGATION BAR */

header {
    background-color: #1F1F1F;
}

.logo_name {
    color: #E5B53A;
    
    padding-left: 30px;
    padding-top: 20px;
}

.logoname2 {
    color: #E5B53A;
    display: inline;
    font-size: 60px;
    padding-left: 20px;
    text-align: center;
}

.logo_description {
    color: #FFFFFF;
    size: 30px;
    padding-left: 100px;
    float: left;
}


.navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    float: right;
}

.nav_list {
    size: 25px;
    display: inline;
    float: right;
    padding: 8px;
    padding-right: 25px;
    color: #FFFFFF;
    text-align: center;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;  
}

/* ------------------------------------------------------- */

/* MAIN MENU & SEARCH BAR */

.main_logo {
    display: flex;
    justify-content: center;
}

#logo_img {
    display: inline-block;
}

.main_description {
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.search_address {
    position: relative;  /* Needed for image positioning */
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.search_address_input {
    width: 350px; 
    height: 60px; 
    background-image: url("images/v54_31.png");
    background-repeat: no-repeat; 
    background-position: 10px 12px;  
    background-color: #FFFFFF;
    background-size: 10% 50%;
    border-radius: 10px;
    text-size-adjust: 30px;
    text-align: center;
    outline: none;
    font-size: 13px;
}

.continue_button {
    background-color: #E01A1A;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    font-size: 15px;
}

/* ------------------------------------------------------- */

/* SUBSCRIPTION */

.subscription_title {
    background-color: grey;
    color: #E5B53A;
    display: flex;
    justify-content: center;
    padding-top: 220px;
    padding-bottom: 20px;
    font-size: 50px;
}

.subscription_img {
    display: flex;  /* Activate Flexbox for the image container */
    justify-content: space-between;  /* Distribute images evenly */
}

.benefits_img { 
    width: 150px;
    height: 150px;
    border-radius: 30px;
    display: inline-block;  /* Display images inline */
    margin-right: 30px;
    margin-left: 30px;
}

.subscription_container {
    background-color: grey;
    display: flex;
    justify-content: center;  /* Center elements horizontally */
    padding-top: 20px;
    padding-bottom: 10px;
}

.subscription_text {
    background-color: grey;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.sub_list {
    color: #FFFFFF;
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}

.subscribe_input {
    background-color: grey;
    padding-bottom: 220px;
    display: flex;
    justify-content: center;
}

.subscribe_button {
    background-color: #E01A1A;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    outline: none;
    font-size: 20px;

}

/* ------------------------------------------------------- */

/* ABOUT US */

.about_container {
    background-color: #FFE140;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom:100px;
}

.about_box {
    background-color: #FFFFFF;
    width: 1000px;
    height: 400px;
    margin: 100px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
}


.about_title {
    color: black;
    text-align: center;
    font-size: 40px;
}

.about_text {
    font-size: 20px;
    padding-top: 10px;
}

/* ------------------------------------------------------- */


footer {
    background-color: #1F1F1F;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

hr {
    border-color: #1F1F1F;  /* Change the color */
    border-width: 1.5px;  /* Change the thickness */
  }

main {
    
}
