/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #4C5050;
}

/* NAVIGATION BAR */

header {
    background-color: #1F1F1F;
}

.logo_name {
    color: #E5B53A;
    
    padding-left: 30px;
    padding-top: 20px;
}

.logoname2 {
    color: #E5B53A;
    display: inline;
    font-size: 60px;
    padding-left: 20px;
    text-align: center;
}

.logo_description {
    color: #FFFFFF;
    size: 30px;
    padding-left: 100px;
    float: left;
}


.navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    float: right;
}

.nav_list {
    size: 25px;
    display: inline;
    float: right;
    padding: 8px;
    padding-right: 25px;
    color: #FFFFFF;
    text-align: center;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;  
}

/* ------------------------------------------------------- */

/* MAIN MENU & SEARCH BAR */

.box {
  width: 800px;
  height: 530px;
  border: 1px solid black;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 40px;
  background-color: white;
}

.heading{
    margin-top: 20px;
    padding-left: 30px;
    font-size: 25px;
}
.buttonText{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
button{
    width: 170px;
    height: 70px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.container {
    height: 200px;
    position: relative;
  }
.brandLogo{
    margin-top: 10px;
    margin-left: 50px;
    width: 100px;
    display: inline-block;
    margin-right: 250px;
}
.star{
    height: 40px;
    margin-left: 12px;
}
.brandName{
    margin-left: 30px;
    font-size: 25px;
    display: inline-block;
    margin-right: 180px;
}
.reviewBox{
    margin-top: 10px;
    width: 350px;
    height: 130px;
    border: 1px solid black;
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgba(106, 100, 100, 0.798);
    margin-left: 350px;
}
.brandStar{
    height: 40px;
    margin-left: 12px;
    display: inline-block;
}
::placeholder {
    color: black;
    font-size: 15px;
    padding-top: 5px;
}
/* ------------------------------------------------------- */


footer {
    background-color: #1F1F1F;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

hr {
    border-color: #1F1F1F;  /* Change the color */
    border-width: 1.5px;  /* Change the thickness */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 710px;
    margin: auto;
  }


